<ion-view style="" class=" " id="page13" title="Support">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/jayant.jpg">
              </a>
              <p style="color: #ffffff;">
                Jayant Rajwani (+91-8885444431)
              </p>
            </div>
          </div>
        </div>


        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/bhagi.jpg">
              </a>
              <p style="color: #ffffff;">
                Bhagirathi Panda (+91-9861870088)
              </p>
            </div>
          </div>
        </div>



      </ion-list>





    </ion-content>
</ion-view>
